@import '../style/variable';

.menu-button {
    color: $primary-color;
    font-size: 1.2rem;

    mat-icon {
        margin-right: 0.3rem;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.button-item{
    display: flex; 
    align-items: center;
}