
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="showSideNav" [mode]="showSideNav ? 'side' : 'over'"> 
        <div class="menu-container">
            <button mat-button class="menu-button" (click)="homeClick()">                
                <span class="button-item"><mat-icon>home</mat-icon>Home</span>
            </button>
            <button mat-button class="menu-button" (click)="customerClick()">                
                <span class="button-item"><mat-icon>contacts</mat-icon>Customer</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


