@import './variable.scss';

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

button {
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    font-size: 0.5rem;
    cursor: pointer;
    background-color: $primary-color;
    color: white;
    border: none;
}

button:hover {
    opacity: 0.8;
}

//clear all margins 
.mat-typography{ 
    h1, h2, h3, h4, h5{
        margin: 0;
    }    
}

//remove underlines for links
a{
    text-decoration: none;
}
