
#body { 
    display: grid;
    grid: min-content auto min-content / 1fr;
    height: 100%;
}

header,
footer {
    grid-column: 1 / -1;
}

header {
    width: 100%;
    background-color: #1976d2;
    padding: 1rem;
}

footer {
    width: 100%;
    background-color: #1976d2;
    display: flex;
    justify-content: center;
}