@import 'style/variable.scss';


#body { 
    display: grid;
    grid: min-content auto min-content / 1fr;
    height: 100%;
}

header,
footer {
    grid-column: 1 / -1;
}

header {
    width: 100%;
    background-color: $primary-color;
}

footer {
    width: 100%;
    background-color: $primary-color;
}